* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #130f40;
}
.category-form {
background-color: #fff;
  width: 400px;
  height: 400px;
  margin: 40px auto 0;
  text-align: center;
  box-shadow: rgb(236, 235, 235) 0px 3px 8px;
  padding: 20px;
}
h2{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top:40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  text-decoration: underline;
}
.category-btn > button {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgb(12, 12, 136) 35%,
    rgb(0, 110, 255) 100%
  );
  color: white;
  font-weight: 600;
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px auto;
}
#clear-btn{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(177,47,123,1) 0%, rgba(253,29,29,1) 35%, rgba(253,32,30,1) 57%, rgba(253,37,31,1) 83%, rgba(252,176,69,1) 100%);
}
.category-btn{
  display: flex;
  justify-content: space-around;
}
.input-category {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.input-category > input {
  padding: 10px 30px;
  margin-bottom: 10px;
}
.delete-btn {
  margin-top: 5px;
  font-size: 25px;
}
.delete-btn > a i {
  color: red;
}
